/* all*/
a:hover { 
    cursor: pointer;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
	.it-timetable-panel {
		margin-bottom: -0.2%;
		border-radius: 0;
		background-color: #d9edf7;
		width: 78.2%;
	}

	.it-timetable-footer {
		width: 81%;
		font-size: 11px;
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.it-timetable-panel {
		margin-bottom: -0.2%;
		border-radius: 0;
		background-color: #d9edf7;
		width: 94.8%;
	}

	.it-timetable-footer {
		width: 98%;
		font-size: 11px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.it-timetable-footer {
		font-size: 11px;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

/* batch update */
.it-batch-update-programme {
    border-bottom: 0.1em solid;
    margin: 1%;
    padding-bottom: 0.5%;
}

.it-batch-update-container {
	padding-left: 2em;
}

/* timetable */
.it-timetable-days-heading {
	font-size: 12px;
	height: 24px;
	text-align: center;
}

.it-timetable-entry-row {
	font-size: 12px;
	height: 59px;
	text-align: center;
}

.it-timetable-entry-row td {
	width: 161px;
}

.it-timetable-entry-text {
	font-size: 11px;
	overflow: hidden;
}

.it-timetable {
	table-layout: fixed;
}

.it-timetable-entry-row .it-timetable-time-cell {
	width: 85px;
}

.it-timetable-panel {
	margin-bottom: -0.2%;
	border-radius: 0;
	background-color: #d9edf7;
}

.it-timetable-metadata {
	font-size: 18px;
	font-weight: bold;
}

.it-timetable-no-timetables {
	padding-left: 2em;
}

.it-timetable-tabs {
	margin-bottom: 1em;
}

/* lecturers */
.it-lecturer {
	margin: 1%;
}

.it-email.ng-invalid {
	border-color: red;
}

.it-lecturer-manage-heading {
	padding-top: 2em;
}

/* venues */
.it-venue {
	margin: 1%;
}

/* timetable manager */
.it-timetable-manager-tabs {
	padding-top: 2em;
}

.it-no-programme-timetables-message, .it-no-venues-to-timetable-message {
	padding-top: 1%;
}

/* module detail */
.it-short-name-info {
	font-size: 0.75em;
}

.it-module-detail-cohort:first-child td {
	border-top: 0px;
}

.it-module-detail-entry:first-child td {
	border-top: 0px;
}

.it-entry-venue-select {
	height: 8em!important;
}

.it-module-detail-lecturer-row {
	padding-bottom: 1em;
}
