{% load staticfiles %}
<html ng-app='timetablesApp'>
    <head>
        <base href="/"/>
        <title>NUIG IT Timetables</title>
        <link rel="stylesheet" href="{{STATIC_URL}}node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
        <link rel="stylesheet" href="{{STATIC_URL}}node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    </button>
                    <a class="navbar-brand" href="http://www.nuigalway.ie">
                        <img src="{{STATIC_URL}}img/nuiglogo.png"/>
                    </a>
                    <span class="navbar-brand">NUIG IT Discipline Timetables</span>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/app/timetables/programme">Degree Programmes</a></li>
                        <li><a href="/app/timetables/venue">Lab Venues</a></li>
                        {% if user.is_superuser %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/app/admin/batchupdate">Batch Update</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/app/admin/activesemester">Set active semester</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/app/admin/module">Manage Modules</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/app/admin/lecturers">Manage Lecturers</a></li>
                                <li><a href="/app/admin/venues">Manage Venues</a></li>
                                <li><a href="/app/admin/timetables">Manage Timetables</a></li>
                            </ul>
                        </li>
                        <li><a href="/logout/" target="_self">Logout</a></li>
                        <li><a href="/change-password/" target="_self">Change password</a></li>
                        {% else %}
                        <li><a href="/login/" target="_self">Admin Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div ui-view></div>

        <!-- core angular -->
        <script src="{{STATIC_URL}}node_modules/angular/angular.js"></script>
	    <script src="{{STATIC_URL}}node_modules/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="{{STATIC_URL}}node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

        <!-- third party libraries -->
        <script src="{{STATIC_URL}}node_modules/jquery/dist/jquery.js"></script>
        <script src="{{STATIC_URL}}node_modules/bootstrap/dist/js/bootstrap.js"></script>
        <script src="{{STATIC_URL}}node_modules/pdfmake-browserified/build/pdfmake-browserified.min.js"></script>
        <script src="{{STATIC_URL}}node_modules/js-cookie/src/js.cookie.js"></script>

        <!-- app source -->
        <script src="{{STATIC_URL}}js/build/app.js"></script>
    </body>
</html>
