<div class="container pull-left">
	<div class="row">
    	<div class="col-sm-6" ng-show="vm.activeSemester.semester">
    		<div class="alert alert-info">
	        	Current active semester: {{vm.activeSemester.year}} Semester {{vm.activeSemester.semester}}
	        </div>
	    </div>
	    <div class="col-sm-6" ng-show="!vm.activeSemester.semester">
	        <div class="alert alert-danger">
  				Active semester not set
			</div>
	    </div>
    </div>

    <div class="row">
    	<div class="col-sm-6">
	        <label>Set active academic year: </label>
	        <select ng-model="vm.selectedYear">
	            <option ng-repeat="year in vm.years" 
	                    value="{{ year.id }}">
	                {{ year.name }}
	            </option>
	        </select>
	    </div>
    </div>

	<div class="row">
		<div class="col-sm-6">
	        <label>Set active semester: </label>
	        <select ng-model="vm.selectedSemester">
	            <option ng-repeat="semester in vm.semesters"
	            		value="{{ semester }}">
	                {{ semester }}
	            </option>
	        </select>
	    </div>
    </div>

    <div class="row">
    	<div class="col-sm-2">
	    	<button class="btn btn-info btn-sm" ng-click="vm.updateActiveSemester()">
	    		Update
	    	</button>
    	</div>
    </div>
</div>