<div class="container pull-left it-batch-update-container">
    <div class="row">
        <h4>Select academic year to update for</h4>
            <select ng-model="vm.selectedYear"
                    ng-change="vm.initProgrammes()">
                <option ng-repeat="year in vm.years" 
                        value="{{year.id}}">
                    {{year.name}}
                </option>
            </select>
    </div>

    <div class="row">
        <h4>Select degree programmes to update</h4>
    </div>
    
    <div class="row" ng-show="vm.programmes.length === 0">
        <p><i>No existing degree programmes found</i></p>
    </div>

    <div class="row it-batch-update-programme" 
            ng-repeat="programme in vm.programmes | orderBy: ['code.substring(1)', 'code']"
            ng-show="vm.programmes">
        <div class="col-sm-8">
            <div>
                <p>{{ programme.name }}</p>
            </div>           
        </div>

        <div class="col-sm-2 text-center">
            <button class="btn btn-default btn-sm" ng-click="vm.updateProgramme(programme)"
                    ng-show="programme.updateStatus === 'idle'">
                Update
            </button>
            <div ng-show="programme.updateStatus === 'updating'">
                <img ng-src="webapp/img/loading.gif"/>
            </div>
            <div ng-model="programme.updateStatus" 
                    ng-show="vm.showProgrammeUpdateStatus(programme)">
                <p>{{ programme.updateStatus }}</p>
            </div>
        </div>

        <div class="col-sm-2 text-center">
            <button class="btn btn-danger btn-sm" ng-click="vm.deleteProgramme(programme)"
                        ng-show="programme.updateStatus === 'idle'">
                Delete
            </button>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-primary btn-sm" ng-click="vm.updateAllProgrammes()"
                ng-show="vm.programmes.length > 0">
            Update All
        </button>
    </div>

    <div class="row">
        <h4>Add new degree programme</h4>
        <h5>
            <i>
                Enter the programme code as it is found on
                <a href="https://www.mis.nuigalway.ie/regexam/cmrs_module_main_menu.asp">
                    MIS
                </a> 
            </i>
        </h5>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <form>
                <label>Programme Code</label>
                <input type="text" ng-model="vm.newProgramme"
                        ng-change="vm.addProgrammeInputChanged()"/>
            
                <button class="btn btn-primary btn-sm" type="submit" ng-click="vm.addNewProgramme(vm.newProgramme)"
                        ng-show="vm.showAddNewProgrammeButton()">
                    Add
                </button>

                <img ng-show="vm.newProgrammeStatus === 'updating'" 
                        ng-src="webapp/img/loading.gif"/>
                
            </form>
        </div>

        <div class="col-sm-6">
            <div ng-show="vm.showNewProgrammeStatus()">
                {{ vm.newProgrammeStatus }}
            </div>
        </div>
    </div>
</div>
