<div class="container pull-left">
	<div class="row">
		<div class="col-sm-6">
			<div class="alert alert-success" ng-show="vm.success">
  				{{ vm.success }}
			</div>
			<div class="alert alert-danger" ng-show="vm.error">
  				{{ vm.error }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h4>Import lecturers and module assignments <i>(CSV file only)</i></h4>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			<label class="btn btn-default">
			    Browse <input id="csv" type="file" accept=".csv" style="display: none;">
			</label>
		</div>

		<div class="col-sm-3">
			<button class="btn btn-success" ng-disabled="!vm.csv" ng-click="vm.importLecturers()">Upload</button>
		</div>
	</div>

	<div ng-show="vm.lecturers.length > 0">
		<div class="row it-lecturer-manage-heading">
			<div class="col-sm-12">
				<h4>Manage existing lecturers</h4>
			</div>
		</div>

		<div class="row text-center">
			<div class="col-sm-4">
				<h4>E-mail</h4>
			</div>
			<div class="col-sm-4">
				<h4>Name</h4>
			</div>
		</div>

		<div class="row text-center it-lecturer" ng-repeat="lecturer in vm.lecturers | orderBy: 'email'">
			<div class="col-sm-4">
				<input type="email" class='it-email form-control' value="{{lecturer.email}}" ng-model="lecturer.newEmail"/>
			</div>
			<div class="col-sm-4">
				<input value="{{lecturer.name}}" class="form-control" ng-model="lecturer.name"/>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default btn-sm" ng-click="vm.updateLecturer(lecturer)">
					Update
				</button>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-danger btn-sm" ng-click="vm.deleteLecturer(lecturer)">
					Delete
				</button>
			</div>
		</div>
	</div>

	<div ng-show="!vm.lecturers.length > 0">
		<div class="row">
			<div class="col-sm-12">
				<h4>Manage existing lecturers</h4>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<i>No lecturers found</i>
			</div>
		</div>
	</div>
</div>