<div class="container pull-left">
	<div class="row">
		<div class="col-sm-6">
			<div class="alert alert-success" ng-show="vm.success">
  				{{ vm.success }}
			</div>
			<div class="alert alert-danger" ng-show="vm.error">
  				{{ vm.error }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h4>Add new venue</h4>
		</div>
	</div>

	<div class="row text-center">
		<div class="col-sm-4">
			<h4>Code</h4>
		</div>
		<div class="col-sm-4">
			<h4>Name</h4>
		</div>
	</div>

	<div class="row text-center it-venue">
		<form>
			<div class="col-sm-4">
				<input class="form-control" ng-model="vm.newVenueCode"/>
			</div>
			<div class="col-sm-4">
				<input class="form-control" ng-model="vm.newVenueName"/>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-primary btn-sm" type="submit" ng-click="vm.addVenue()">
					Add
				</button>
			</div>
		</form>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h4>Manage existing venues</h4>
		</div>
	</div>

	<div ng-show="vm.venues.length == 0" class="row">
		<div class="col-sm-12">
			<i>No venues found</i>
		</div>
	</div>

	<div ng-show="vm.venues.length > 0">
		<div class="row text-center">
			<div class="col-sm-4">
				<h4>Code</h4>
			</div>
			<div class="col-sm-4">
				<h4>Name</h4>
			</div>
		</div>

		<div class="row text-center it-venue" ng-repeat="venue in vm.venues | orderBy: 'code'">
			<div class="col-sm-4">
				<input class="form-control" value="{{venue.code}}" ng-model="venue.newCode"/>
			</div>
			<div class="col-sm-4">
				<input class="form-control" value="{{venue.name}}" ng-model="venue.name"/>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default btn-sm" ng-click="vm.updateVenue(venue)">
					Update
				</button>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-danger btn-sm" ng-click="vm.deleteVenue(venue)">
					Delete
				</button>
			</div>
		</div>
	</div>
</div>