<div class="container pull-left">
	<div class="col-sm-6" ng-show="vm.activeSemester.semester">
		<div class="alert alert-info">
	    	Current <a href="/app/admin/activesemester">active semester</a>: {{vm.activeSemester.year}} Semester {{vm.activeSemester.semester}}
	    </div>
	</div>
	<div class="col-sm-6" ng-show="!vm.activeSemester.semester">
	    <div class="alert alert-danger">
			Please set <a href="/app/admin/activesemester">active semester</a>
		</div>
	</div>

	<div ng-hide="!vm.activeSemester.semester">
		<div class="row">
			<div class="col-sm-6">
				<div class="alert alert-success" ng-show="vm.success">
	  				{{ vm.success }}
				</div>
				<div class="alert alert-danger" ng-show="vm.error">
	  				{{ vm.error }}
				</div>
			</div>
		</div>

		<div class="row">
	    	<div class="col-sm-6">
		        <label>Manage timetables for academic year: </label>
		        <select ng-model="vm.selectedYear" ng-change="vm.getTimetables()">
		            <option ng-repeat="year in vm.years" 
		                    value="{{ year.id }}">
		                {{ year.name }}
		            </option>
		        </select>
		    </div>
	    </div>

		<div class="row">
			<div class="col-sm-6">
		        <label>Manage timetables for semester: </label>
		        <select class="dropdown" ng-model="vm.selectedSemester" ng-change="vm.getTimetables()">
		            <option ng-repeat="semester in vm.semesters"
		            		value="{{ semester }}">
		                {{ semester }}
		            </option>
		        </select>
		    </div>
	    </div>

	    <div class="row it-timetable-manager-tabs">
	    	<div class="col-sm-12">
				<ul class="nav nav-tabs">
					  <li ng-class="{'active': vm.programmesActive}"><a ng-click="vm.toggleActive('programme')">Programme</a></li>
					  <li ng-class="{'active': vm.venuesActive}"><a ng-click="vm.toggleActive('venue')">Venue</a></li>
				</ul>
			</div>
		</div>
		
		<div ng-show="vm.programmesActive">
			<div class="row it-no-programme-timetables-message" ng-show="vm.programmeTimetables.length == 0">
				<div class="col-sm-12">
					<i>No programme timetables available. Please perform a <a href="/app/admin/batchupdate">batch update</a> for programmes for the current active semester</i>
				</div>
			</div>

			<div class="row" ng-show="vm.programmeTimetables.length > 0">
				<div class="col-sm-12">
					<h3>
						<a href="/app/timetables/programme">Programme</a> timetables for this semester
					</h3>
				</div>
			</div>

			<div class="row" ng-show="vm.programmeTimetables.length > 0">
				<div class="col-sm-12">
					<table class="table">
					    <thead>
					        <tr>
					            <th>Programme</th>
					            <th>Version</th>
					            <th>Date Updated</th>
					            <th>Public</th>
					            <th>Copy previous year</th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr ng-repeat="timetable in vm.programmeTimetables | orderBy: ['programme.name.substring(1)', 'programme.name']">
					            <td>{{timetable.programme.name}}</td>
					            <td>{{timetable.version}}</td>
					            <td>{{timetable.date}}</td>
					            <td>
					            	<select ng-model="timetable.isPublic" ng-change="vm.setVisibility('programme', timetable)">
						                <option ng-repeat="option in vm.publicOptions" 
						                        value="{{option.id}}">
						                    {{option.name}}
						                </option>
				            		</select>
					            </td>
					            <td>
					            	<button class="btn btn-primary btn-sm" ng-disabled="timetable.entries.length > 0" ng-click="vm.copyPreviousYear(timetable)">
					            		Copy previous year
					            	</button>
					            </td>
					        </tr>
					    </tbody>
					</table>
				</div>
			</div>

			<div ng-show="vm.programmeTimetables.length > 0" class="row">
				<div class="col-sm-12">
					<button class="btn btn-primary" ng-click="vm.setAllToPublic('programme')">
						Make all public
					</button>
				</div>
			</div>
		</div>

		<div ng-show="vm.venuesActive">
			<div class="row" ng-show="vm.venueTimetables.length > 0">
				<div class="col-sm-12">
					<h3>
						<a href="/app/timetables/venue">Venue</a> timetables for this semester
					</h3>
				</div>
			</div>

			<div class="row" ng-show="vm.venueTimetables.length > 0">
				<div class="col-sm-12">
					<table class="table">
					    <thead>
					        <tr>
					            <th>Venue</th>
					            <th>Version</th>
					            <th>Date Updated</th>
					            <th>Public</th>
					            <th></th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr ng-repeat="timetable in vm.venueTimetables">
					            <td>{{timetable.venue.name}}</td>
					            <td>{{timetable.version}}</td>
					            <td>{{timetable.date}}</td>
					            <td>
					            	<select ng-model="timetable.isPublic" ng-change="vm.setVisibility('venue', timetable)">
						                <option ng-repeat="option in vm.publicOptions" 
						                        value="{{option.id}}">
						                    {{option.name}}
						                </option>
				            		</select>
					            </td>
					            <td>
					            	<button class="btn btn-danger btn-sm" ng-click="vm.deleteTimetable('venue', timetable)">
					            		Delete
					            	</button>
					            </td>
					        </tr>
					    </tbody>
					</table>
				</div>
			</div>

			<div class="row it-no-venues-to-timetable-message" ng-show="vm.venues.length == 0">
				<div class="col-sm-12">
					<i>No venues to create timetables for. Please <a href="/app/admin/venues">add some venues.</a></i>
				</div>
			</div>

			<div ng-show="vm.venues.length > 0" class="row">
				<div class="col-sm-12">
					<h3>Add venue timetable for this semester</h3>
				</div>
			</div>

			<div ng-show="vm.venues.length > 0" class="row">
				<div class="col-sm-12">
					<form>
						<table class="table">
						    <thead>
						        <tr>
						            <th>Venue</th>
						            <th>Public</th>
						            <th></th>
						        </tr>
						    </thead>
						    <tbody>
						        <tr>
						            <td>
						         		<select ng-model="vm.newVenueTimetable.venue">
							                <option ng-repeat="venue in vm.venueList | orderBy: 'name'" 
							                        value="{{venue.code}}">
							                    {{venue.name}}
							                </option>
					            		</select>	
						            </td>
						            <td>
						            <select ng-model="vm.newVenueTimetable.isPublic">
							                <option ng-repeat="option in vm.publicOptions" 
							                        value="{{option.id}}">
							                    {{option.name}}
							                </option>
					            		</select>
						            </td>
						            <td>
						            	<button class="btn btn-primary btn-sm" type="submit" ng-click="vm.addTimetable('venue')">
						            		Add
						            	</button>
						            </td>
						        </tr>
						    </tbody>
						</table>
					</form>
				</div>
			</div>

			<div ng-show="vm.venues.length > 0" class="row">
				<div class="col-sm-12">
					<button class="btn btn-primary" ng-click="vm.setAllToPublic('venue')">
						Make all public
					</button>
				</div>
			</div>
		</div>
	</div>
</div>