<div class="container pull-left">
	<div class="row">
		<div class="col-sm-12">
			<h3>
				<b>
					{{ vm.module.code }} - {{ vm.module.name }}
				</b>
			</h3>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
			    <div class="panel-heading">Semester</div>
			    <div class="panel-body">
			    	{{ vm.module.semester }}
			    </div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="panel panel-default">
			    <div class="panel-heading">ECTs</div>
			    <div class="panel-body">
			    	{{ vm.module.ects }}
			    </div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
			    <div class="panel-heading">Lecturers</div>
			    <div class="panel-body">
			    	<div ng-show="vm.module.lecturers.length < 1">
						<i>None</i>
					</div>
			    	<div ng-repeat="lecturer in vm.module.lecturers">
			    		<div class="row it-module-detail-lecturer-row">
				    		<div class="col-sm-6">
				    			{{ lecturer.lecturer.name }}
				    		</div>
				    		<div class="col-sm-6">
				    			<button class="btn btn-danger btn-xs" ng-click="vm.removeLecturerAssignment(lecturer)">
				    				Remove
				    			</button>
				    		</div>
			    		</div>
			    	</div>
			    </div>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="panel panel-default">
			    <div class="panel-heading">Short name <i>(Optional)</i></div>
			    <div class="panel-body">
			    	<div class="it-short-name-info">
			    		<i>Please provide a short name for modules with names that don't neatly fit in timetables (especially on PDFs)</i>
			    		<div>
			    			<form>
			    				<input ng-model="vm.module.short_name" value="vm.module.short_name" ng-change="vm.shortNameChanged()"/>
			    				<button class="btn" type="submit" ng-click="vm.updateShortName()">
			    					Update
			    				</button>
			    				<span ng-show="vm.shortNameChangeSuccess">
			    					Success
			    				</span>
			    			</form>
			    		</div>
			    	</div>
			    </div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
			    <div class="panel-heading">Cohorts</div>
			    <div class="panel-body">
			    	<table class="table">
			    		<tbody>
			    			<tr class="it-module-detail-cohort" ng-repeat="cohort in vm.module.taken_by">
				    			<td>
				    				{{ cohort.programme.name }}
				    			</td>
				    			<td>
				    				<div ng-show="cohort.is_core">
				    					Core
				    				</div>
				    				<div ng-show="!cohort.is_core">
				    					Optional
				    				</div>
				    			</td>
			    			</tr>
			    		</tbody>
			    	</table>
			    </div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
			    <div class="panel-heading">Schedule</div>
			    <div class="panel-body">
			    	<div ng-show="vm.entries.length < 1">
			    		<i>No entries</i>
			    	</div>
		    		<table class="table" ng-show="vm.entries.length > 0">
		    			<thead>
		    				<th>Day</th>
		    				<th>Time</th>
		    				<th>Type</th>
		    				<th>Lecturer(s)</th>
		    				<th>Venue(s)</th>
		    				<th>Specific to Programme</th>
		    				<th></th>
		    				<th></th>
		    			</thead>
			    		<tbody>
			    			<tr ng-repeat="entry in vm.entries | orderBy:['day', 'time']">
			    				<td>
			    					<div ng-show="entry.day == 1">Monday</div>
			    					<div ng-show="entry.day == 2">Tuesday</div>
			    					<div ng-show="entry.day == 3">Wednesday</div>
			    					<div ng-show="entry.day == 4">Thursday</div>
			    					<div ng-show="entry.day == 5">Friday</div>
			    				</td>
			    				<td>
			    					<div ng-show="entry.time < 12">
			    						{{ entry.time }}:00am
			    					</div>
			    					<div ng-show="entry.time == 12">
			    						12:00pm
			    					</div>
			    					<div ng-show="entry.time > 12">
			    						{{ entry.time - 12 }}:00pm
			    					</div>
			    				</td>
			    				<td>
			    					<div ng-show="entry.is_lab_entry">
			    						Lab
			    					</div>
			    					<div ng-show="!entry.is_lab_entry">
			    						Lecture
			    					</div>
			    				</td>
			    				<td>
			    					{{ entry.lecturersDisplay }}
			    					<span ng-show="!entry.lecturersDisplay">
			    						<i>N/A</i>
			    					</span>
			    				</td>
			    				<td>
			    					{{ entry.venuesDisplay }}
			    					<span ng-show="!entry.venuesDisplay">
			    						<i>N/A</i>
			    					</span>
			    				</td>
			    				<td>
			    					{{ entry.specific_to_programme }}
			    					<span ng-show="entry.specific_to_programme == null">
			    						<i>N/A</i>
			    					</span>
			    				</td>
			    				<td>
			    				<button class="btn btn-info" ng-click="vm.edit(entry)" ng-disabled="vm.editing">
			    						Edit
			    					</button>
			    				</td>
			    				<td>
			    					<button class="btn btn-danger" ng-click="vm.deleteEntry(entry)">
			    						Delete
			    					</button>
			    				</td>
			    			</tr>
			    		</tbody>
		    		</table>

		    		<hr>

		    		<h4 ng-show="vm.editing">Editing entry</h4>
		    		<i ng-show="vm.editing">Hold down CTRL to select more than one lecturer/venue</i>

		    		<div ng-show="vm.editing">
		    			<table class="table">
			    			<thead>
			    				<th>Day</th>
			    				<th>Time</th>
			    				<th>Type</th>
			    				<th ng-if="vm.module.lecturers.length > 1">Lecturer(s)</th>
			    				<th ng-if="vm.venues.length > 0">Venue(s)</th>
			    				<th><span ng-show="vm.module.taken_by.length > 1">Specific to Programme</span></th>
			    				<th></th>
			    			</thead>
				    		<tbody>
				    			<tr>
				    				<td>
				    					<select ng-model="vm.selectedDay" ng-options="day.id as day.label for day in vm.days" ng-change="vm.findSuitableTimes()"/>
				    				</td>
				    				<td>
				    					<select ng-model="vm.selectedTime" ng-change="vm.findSuitableLecturersAndVenues()" ng-options="time.id as time.label disable when time.disabled for time in vm.times"/>
				    				</td>
				    				<td>
				    					<select ng-model="vm.isLabEntry" ng-options="type.id as type.label for type in vm.types" ng-change="vm.findSuitabletimes()"/>
				    				</td>
				    				<td ng-if="vm.module.lecturers.length > 1">
				    					<select ng-model="vm.selectedLecturers" ng-options="lecturer.lecturer.email as lecturer.lecturer.name disable when lecturer.disabled for lecturer in vm.module.lecturers | orderBy: 'name'" multiple required/>
				    				</td>
				    				<td ng-if="vm.venues.length > 0">
				    					<select class="it-entry-venue-select" ng-model="vm.selectedVenues" ng-options="venue.id as venue.label disable when venue.disabled for venue in vm.venues | orderBy: 'label'" multiple required/>
				    				</td>
				    				<td>
				    					<select ng-show="vm.module.taken_by.length > 1" ng-model="vm.selectedSpecificProgramme">
				    						<option>All</option>
				    						<option ng-repeat="cohort in vm.module.taken_by">{{ cohort.programme.code }}</option>
				    					</select>
				    				</td>
				    				<td>
				    					<button class="btn" ng-disabled="vm.disableSubmit()" ng-click="vm.addEntry()">
				    						Submit
				    					</button>
				    				</td>
				    			</tr>
				    		</tbody>
			    		</table>
		    		</div>

		    		<hr ng-show="vm.editing"/>

		    		<h4 ng-show="!vm.editing">Add new entry</h4>

		    		<div class="col-sm-6" ng-show="!vm.activeSemester.semester">
					    <div class="alert alert-danger">
							Please set <a href="/app/admin/activesemester">active semester</a> before creating entries
						</div>
					</div>

		    		<div ng-show="vm.activeSemester.semester != null">
			    		<i ng-show="!vm.editing">Hold down CTRL to select more than one lecturer/venue</i>

			    		<table ng-show="!vm.editing" class="table">
			    			<thead>
			    				<th>Day</th>
			    				<th>Time</th>
			    				<th>Type</th>
			    				<th ng-if="vm.module.lecturers.length > 1">Lecturer(s)</th>
			    				<th ng-if="vm.venues.length > 0">Venue(s)</th>
			    				<th><span ng-show="vm.module.taken_by.length > 1">Specific to Programme</span></th>
			    				<th></th>
			    			</thead>
				    		<tbody>
				    			<tr>
				    				<td>
				    					<select ng-model="vm.selectedDay" ng-options="day.id as day.label for day in vm.days" ng-change="vm.findSuitableTimes()"/>
				    				</td>
				    				<td>
				    					<select ng-model="vm.selectedTime" ng-change="vm.findSuitableLecturersAndVenues()" ng-options="time.id as time.label disable when time.disabled for time in vm.times"/>
				    				</td>
				    				<td>
				    					<select ng-model="vm.isLabEntry"  ng-options="type.id as type.label for type in vm.types" ng-change="vm.findSuitabletimes()"/>
				    				</td>
				    				<td ng-if="vm.module.lecturers.length > 1">
				    					<select ng-model="vm.selectedLecturers" ng-options="lecturer.lecturer.email as lecturer.lecturer.name disable when lecturer.disabled for lecturer in vm.module.lecturers | orderBy: 'name'" multiple required/>
				    				</td>
				    				<td ng-if="vm.venues.length > 0">
				    					<select class="it-entry-venue-select" ng-model="vm.selectedVenues" ng-options="venue.id as venue.label disable when venue.disabled for venue in vm.venues | orderBy: 'label'" multiple required/>
				    				</td>
				    				<td>
				    					<select ng-show="vm.module.taken_by.length > 1" ng-model="vm.selectedSpecificProgramme">
				    						<option>All</option>
				    						<option ng-repeat="cohort in vm.module.taken_by">{{ cohort.programme.code }}</option>
				    					</select>
				    				</td>
				    				<td>
				    					<button class="btn" ng-disabled="vm.disableSubmit()" ng-click="vm.addEntry()">
				    						Submit
				    					</button>
				    				</td>
				    			</tr>
				    		</tbody>
			    		</table>
			    	</div>

		    		<div class="alert alert-warning" ng-show="vm.splitWarning">
						<b>Warning:</b> {{ vm.warningMessage }}
					</div>
			    </div>
			</div>
		</div>
	</div>
</div>