<div class="container pull-left">
	<div class="col-sm-6" ng-show="vm.modules.length == 0">
        <div class="alert alert-info">
				<i>No module data found</i>
		</div>
    </div>

	<div class="row" ng-show="vm.modules.length > 0">
		<div class="col-sm-2">
			<label>Filter by programme</label>
			<input type="checkbox" ng-model="vm.filter" ng-change="vm.filterModules()">
		</div>
		<div class="col-sm-2">
			<select ng-model="vm.filterProgramme" ng-change="vm.filterModules()">
	            <option ng-repeat="cohort in vm.cohorts" 
	                    value="{{ cohort }}">
	                {{ cohort }}
	            </option>
	        </select>
		</div>
	</div>

	<div class="row" ng-show="vm.modules.length > 0">
		<div class="col-sm-12">
			<table class="table table-hover">
				<thead>
				    <tr>
				        <th>Code</th>
				        <th>Name</th>
				        <th>Semester</th>
				        <th>Cohorts</th>
				    </tr>
				</thead>
				<tbody>
				    <tr ng-repeat="module in vm.pageContent | orderBy: 'cohorts'">
				    	<td><a ng-href="/app/admin/module/{{module.code}}">{{ module.code }}</a></td>
				    	<td>{{ module.name }}</td>
				    	<td>{{ module.semester }}</td>
				    	<td>{{ module.cohorts }}</td>
				    </tr>
				</tbody>
			</table>
		</div>
	</div>

	<div ng-show="vm.modules.length > 0" class="row text-center">
		<div class="col-ms-12">
			<ul uib-pagination total-items="vm.filteredModules.length" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></ul>
		</div>
	</div>
</div>
