<div class="container pull-left">
	<div class="row" ng-show="!vm.noTimetables">
		<div class="col-sm-12">
			<div ng-show="vm.type === 'programme'">
				<ul class="nav nav-tabs it-timetable-tabs">
					  <li ng-repeat="timetable in vm.allTimetables | orderBy: ['programme.code.substring(1)', 'programme.code']" ng-class="{'active': vm.isTimetableActive(timetable)}">
					  	  <a ng-click="vm.changeTimetable(timetable)">
					  	      {{ timetable.programme.code }}
					  	  </a>
					  </li>
				</ul>
			</div>

			<div ng-show="vm.type === 'venue'">
				<ul class="nav nav-tabs it-timetable-tabs">
					  <li ng-repeat="timetable in vm.allTimetables | orderBy: 'venue.name'" ng-class="{'active': vm.isTimetableActive(timetable)}">
					  	  <a ng-click="vm.changeTimetable(timetable)">
					  	      {{ timetable.venue.name }}
					  	  </a>
					  </li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row text-center it-timetable-no-timetables" ng-show="vm.noTimetables">
		<div class="alert alert-warning">
  			No timetables available for the current active semester
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-info" ng-show="!vm.noTimetables && !vm.activeTimetable.is_public">
  				This timetable is private and is not yet visible to the public.
			</div>
		</div>
	</div>

	<div class="row" ng-show="!vm.noTimetables">
		<div class="col-sm-12">
			<h3 ng-show="vm.type === 'programme'">
				{{ vm.activeTimetable.programme.name }}
			</h3>
			<h3 ng-show="vm.type === 'venue'">
				{{ vm.activeTimetable.venue.name }}
			</h3>
		</div>
	</div>

	<div class="row" ng-show="!vm.noTimetables">
		<div id="it-timetable" class="col-sm-12">
			<div class="panel panel-default it-timetable-panel">
		        <div class="panel-body">
		        	<div ng-show="vm.type === 'programme'">
		        		<div class="row">
				            <div class="text-left col-sm-4 it-timetable-metadata">
				            	{{ vm.activeTimetable.programme.code }}
				            </div>
				            <div class="text-center col-sm-4 it-timetable-metadata">
				            	Timetable {{ vm.displayYear }}
				            </div>
				            <div class="text-right col-sm-4 it-timetable-metadata">
				            	Semester {{ vm.semester }}
				            </div>
			            </div>
		            </div>

		            <div ng-show="vm.type === 'venue'">
		        		<div class="row">
				            <div class="text-left col-sm-4 it-timetable-metadata">
				            	{{ vm.activeTimetable.venue.name }}
				            </div>
				            <div class="text-center col-sm-4 it-timetable-metadata">
				            	Lab Timetable {{ vm.displayYear }}
				            </div>
				            <div class="text-right col-sm-4 it-timetable-metadata">
				            	Semester {{ vm.semester }}
				            </div>
			            </div>
		            </div>
		        </div>
			</div>
			<table class="it-timetable table-bordered">
				<tr class="it-timetable-days-heading">
					<td class="it-timetable-time-cell">
						<b>Time/Day</b>
					</td>
					<td ng-repeat="day in vm.days">
						<b>{{ day }}</b>
					</td>
				</tr>
				<tr class="it-timetable-entry-row" ng-repeat="time in vm.timetableDisplayKeys()">
					<td class="it-timetable-time-cell">	
						<b>{{ vm.times[time] }}</b>
					</td>
					<td ng-repeat="entry in vm.timetableDisplay[time]">
						<div ng-show="!entry.isSplit && vm.type === 'programme'" class="it-timetable-entry-text">
							<div>{{ entry.code }} {{ entry.name }}</div>
							<div>{{ entry.venues }}</div>
							<div>{{ entry.lecturers }}</div>
						</div>

						<div ng-show="vm.type === 'venue'" class="it-timetable-entry-text">
							<div>{{ entry.code }} {{ entry.name }}</div>
							<div>{{ entry.lecturers }}</div>
							<div>{{ entry.specificToProgramme }}</div>
						</div>

						<div ng-show="entry.isSplit" class="it-timetable-entry-text">
							<div>[A] {{ entry['A'].code }} {{ entry['A'].name }} {{ entry['A'].venues }}</div>
							<div>[B] {{ entry['B'].code }} {{ entry['B'].name }} {{ entry['B'].venues }}</div>
						</div>
					</td>
				</tr>
			</table>
			<div class="row it-timetable-footer">
				<div class="col-sm-4 text-left">
					Version {{ vm.activeTimetable.version }}
				</div>
				<div class="col-sm-4 text-center">
					<a href="http://www.it.nuigalway.ie/timetables/">
						http://www.it.nuigalway.ie/timetables/
					</a>
				</div>
				<div class="col-sm-4 text-right">
					<div>{{ vm.displayDate }}</div>
					<div>
						<button class="btn btn-primary btn-sm" ng-click="vm.generatePdf()">
							Generate PDF
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
