{% load staticfiles %}
<html>
    <head>
        <base href="/"/>
        <title>NUIG IT Timetables</title>
        <link rel="stylesheet" href="{{STATIC_URL}}node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
    </head>
    <div class="container pull-left">
		<h2>Admin login</h2>
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-success" type="submit">Login</button>
		</form>
	</div>
</html>